html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #003D4F;
}

body {
  width: 600px;
  margin: 75px auto;
  background-color: #EDF1F3FF;
  padding: 20px 20px 20px 20px;
  border: 5px solid #F2617A;
}

h1 {
  margin: 0;
  padding: 25px 0;
  color: #634F7D;
  /* text-shadow: 3px 3px 1px #F2617A; */
}

img {
  display: block;
  margin: 0 auto;
}
